DataWebWizard/web/WEB-INF/wsdl/10.6.74.235_8080/ConsultTable/ConsultTable.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soapservices/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soapservices/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://10.6.74.235:8080/ConsultTable/ConsultTable?xsd=2"/>

<xs:element name="consult" type="tns:consult"/>

<xs:element name="consultResponse" type="tns:consultResponse"/>

<xs:element name="getFields" type="tns:getFields"/>

<xs:element name="getFieldsResponse" type="tns:getFieldsResponse"/>

<xs:element name="operation" type="tns:operation"/>

<xs:element name="operationResponse" type="tns:operationResponse"/>

<xs:complexType name="operation">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="operationResponse">
<xs:sequence>
<xs:element name="return" type="ns1:stringArray" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consult">
<xs:sequence>
<xs:element name="tableName" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultResponse">
<xs:sequence>
<xs:element name="return" type="tns:hashMap" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hashMap">
<xs:complexContent>
<xs:extension base="tns:abstractMap">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractMap" abstract="true">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getFields">
<xs:sequence>
<xs:element name="tableName" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFieldsResponse">
<xs:sequence>
<xs:element name="return" type="tns:hashMap" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>