DataWebWizard/src/conf/xml-resources/web-service-references/ConsultTable/wsdl/10.6.74.235_8080/ConsultTable/ConsultTable.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soapservices/" name="ConsultTable">
<types>
<xsd:schema>
<xsd:import namespace="http://soapservices/" schemaLocation="http://10.6.74.235:8080/ConsultTable/ConsultTable?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://10.6.74.235:8080/ConsultTable/ConsultTable?xsd=2"/>
</xsd:schema>
</types>
<message name="getFields">
<part name="parameters" element="tns:getFields"/>
</message>
<message name="getFieldsResponse">
<part name="parameters" element="tns:getFieldsResponse"/>
</message>
<message name="operation">
<part name="parameters" element="tns:operation"/>
</message>
<message name="operationResponse">
<part name="parameters" element="tns:operationResponse"/>
</message>
<message name="consult">
<part name="parameters" element="tns:consult"/>
</message>
<message name="consultResponse">
<part name="parameters" element="tns:consultResponse"/>
</message>
<portType name="ConsultTable">
<operation name="getFields">
<input wsam:Action="http://soapservices/ConsultTable/getFieldsRequest" message="tns:getFields"/>
<output wsam:Action="http://soapservices/ConsultTable/getFieldsResponse" message="tns:getFieldsResponse"/>
</operation>
<operation name="operation">
<input wsam:Action="http://soapservices/ConsultTable/operationRequest" message="tns:operation"/>
<output wsam:Action="http://soapservices/ConsultTable/operationResponse" message="tns:operationResponse"/>
</operation>
<operation name="consult">
<input wsam:Action="http://soapservices/ConsultTable/consultRequest" message="tns:consult"/>
<output wsam:Action="http://soapservices/ConsultTable/consultResponse" message="tns:consultResponse"/>
</operation>
</portType>
<binding name="ConsultTablePortBinding" type="tns:ConsultTable">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFields">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consult">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConsultTable">
<port name="ConsultTablePort" binding="tns:ConsultTablePortBinding">
<soap:address location="http://10.6.74.235:8080/ConsultTable/ConsultTable"/>
</port>
</service>
</definitions>